.info{
    float: right;
    width: 30vw;
    max-width: 300px;
    background-color: rgb(255, 255, 255);
    margin-left: 2vw;
    
}
.info img{
    width: 30vw;
    max-width: 300px;
}
.aboutpost{
    margin: 50px;
    width: 70vw;
    font-size:2.5vh;
    min-height: 400px;
}
.aboutpost img{
    width: 53vw;
    border-radius: 50px;
}
.aboutpost img:hover{
    opacity: 70%;
    transform: scale(0.9);
    transition: .5s;
    border: 5px solid black ;
}