<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>America - sphere insight</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/readmore.css">
</head>
<body>
    <div class="headerBox">
        <img src="../../static/images/SPHERE INSIGHT.png">
        <nav>
            <ul>
                <li><a href="../home.html">Home</a></li>
                <li><a href="../about.html">About</a></li>
                <li id="destination">Destination
                    <ul class="dropdown">
                        <li><a href="../asia.html">ASIA</li>
                            <li><a href="../america.html">THE AMERICA</a> </li>
                            <li><a href="../europe.html">EUROPE</a></li>
                            <li><a href="../africa.html">AFRICA</a> </li>
                    </ul>
                </li>
                <li><a href="../workwithme.html">Work with me</a></li>
                <li><a href="">Travel</a>
                    <ul class="dropdown" style="transform: translateX(-25%);">
                        <li><a href="../planning.html">PLANNING</a> </li>
                        <li><a href="../packing.html">PACKING</a> </li>
                        <li><a href="../tips.html">TIPS +ADVICE</a> </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="info">
        <img src="../../static/images/infonadine.webp">
        <h2>Hello</h2>
        <p>I’m Nadine Sykora and I'm one of the top travel vloggers on YouTube who travels the world and shares my experiences and travel expertise through my videos and on Instagram.</p>
    </div>
    <div class="aboutpost">
        <p>NOVEMBER 20, 2018</p>
        <h2>RIDE the PIPE! – one-man ROLLER COASTER | Revelstoke, Canada</h2><br>
        <p>Revvvvy bro! We SOOO stoked! Come zip down the Pipe Mountain Coaster and explore the Giant Cedars Boardwalk & Bear Creek Falls.

           <br><br> 🌟 Best Western: http://bit.ly/BWHNbooking</p>
           <a href="https://youtu.be/PvhO7GuVYCA"><img src="../../static/images/america-12.png"></a>
    </div>
</body>
</html>