<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packing + Prep - sphere insight</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/readmore.css">
</head>
<body>
    <div class="headerBox">
        <img src="../images/SPHERE INSIGHT.png">
        <nav>
            <ul>
                <li><a href="../home.html">Home</a></li>
                <li><a href="../about.html">About</a></li>
                <li id="destination">Destination
                    <ul class="dropdown">
                        <li><a href="../asia.html">ASIA</li>
                            <li><a href="../america.html">THE AMERICA</a> </li>
                            <li><a href="../europe.html">EUROPE</a></li>
                            <li><a href="africa.html">AFRICA</a> </li>
                    </ul>
                </li>
                <li><a href="workwithme.html">Work with me</a></li>
                <li><a href="">Travel</a>
                    <ul class="dropdown" style="transform: translateX(-25%);">
                        <li><a href="../planning.html">PLANNING</a> </li>
                        <li><a href="../packing.html">PACKING</a> </li>
                        <li><a href="../tips.html">TIPS +ADVICE</a> </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="info">
        <img src="../images/infonadine.webp">
        <h2>Hello</h2>
        <p>I’m Nadine Sykora and I'm one of the top travel vloggers on YouTube who travels the world and shares my experiences and travel expertise through my videos and on Instagram.</p>
    </div>
    <div class="aboutpost">
        <p>APRIL 9, 2018</p>
        <h2>SPRING TRAVEL PACKING GUIDE</h2><br>
        <p>WWhat to pack for 1 week(or more) of Spring Travel ! A Travel Packing Guide.</p>
        <a href="https://youtu.be/x1i9evS2Aac"><img src="../images/packing2.png"></a>
        <br><br>
        👟BORN SHOES: http://bit.ly/BornHNST
        <br>
Travel Toiletries: https://youtu.be/r_Ot8YJOE30
<br>
Travel First Aid: https://youtu.be/39amu_2fMfg
<br>
Full Camera Gear: https://youtu.be/5u5JiSA9N_o
<br>

        <p>👝PACKING LIST 👝
<br>
          3 Jumper/Long Dresses
<br>          
          3 T-Shirts 2 Pants
<br>          
          1 Leggings
<br>          
          2 Shorts/Skirts
<br>          
          3 Sweaters/Hoodies
<br>          
          1 Scarf
<br>          
          4 Bras (1 Sports, 2 Everyday, 1 Shaped)
<br>          
          7 Underwear
<br>          
          3 Socks
<br>          
          1 Swimsuit (optional)
<br>          
          3 Shoes (1 Sneaker, 1 Sandal, 1 Wedge)
<br>          
          1 Sunglasses 1 Small Hairdryer (optional)
<br>          
          1 Small Hair-straighter (optional)
<br>          
          1 Belt Sunscreen Fun Jewerly Landry Bag + Washing Packets Toiletry Bag First Aid Kit Makeup Bag
<br>          
          1 Rain Jacket
<br>          
          1 Umbrella
<br>          
          1 Hat
<br>          
          1 Small Purse
<br>          
          Laptop or Tablet (plus charging cables)
<br>          
          Camera (plus charging cables)
<br>          
          Phone (plus charging cables)
<br>          
          External Hardrive + SD Cards Headphones External Power-pack Plug Adapters Passport Scanned Copies of Important Documents Wallet</p>

    </div>
</body>
</html>