<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packing + Prep - sphere insight</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/readmore.css">
</head>
<body>
    <div class="headerBox">
        <img src="../images/SPHERE INSIGHT.png">
        <nav>
            <ul>
                <li><a href="../home.html">Home</a></li>
                <li><a href="../about.html">About</a></li>
                <li id="destination">Destination
                    <ul class="dropdown">
                        <li><a href="../asia.html">ASIA</li>
                            <li><a href="../america.html">THE AMERICA</a> </li>
                            <li><a href="../europe.html">EUROPE</a></li>
                            <li><a href="africa.html">AFRICA</a> </li>
                    </ul>
                </li>
                <li><a href="workwithme.html">Work with me</a></li>
                <li><a href="">Travel</a>
                    <ul class="dropdown" style="transform: translateX(-25%);">
                        <li><a href="../planning.html">PLANNING</a> </li>
                        <li><a href="../packing.html">PACKING</a> </li>
                        <li><a href="../tips.html">TIPS +ADVICE</a> </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="info">
        <img src="../images/infonadine.webp">
        <h2>Hello</h2>
        <p>I’m Nadine Sykora and I'm one of the top travel vloggers on YouTube who travels the world and shares my experiences and travel expertise through my videos and on Instagram.</p>
    </div>
    <div class="aboutpost">
        <p>MAY 17, 2016</p>
        <h2>Backpacking Packing Guide | Europe & Southeast Asia</h2><br>
        <p>
          
          <br><br>Part 2 of my backpacking packing series, this time I go more in dept and more specific with backpacking for Europe and Southeast Asia.
<br>
          So this is what I pack for a 2 weeks plus backpacking trip .
          <br>
          Full list below!</p>
        <a href="https://youtu.be/gWQEWmNXT-8"><img src="../images/packing11.png"></a>
        <div>
          <h2>Bags</h2>
          <p>              
            Osprey Farpoint 70 without the day bag,
            LowePro Photo Sport,
            Frye Foldable Purse (Europe),
            Sling Day Bag (Southeast Asia)
<br>
<h2>Shoes</h2>
Running Shoes,
Flip Flops,
Everyday walking shoe,
Wedge (Europe),
Fancy Sandals (Southeast Asia),
Bags to place them in so they don’t get bag dirty.
<br>
Clothes and so on...
<br>
And there we have it! All turtled up and ready to backpack.
<br>
Is there anything I missed? What are some of your items you pack on your travels?
    </div>
</body>
</html>