<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packing + Prep - sphere insight</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/readmore.css">
</head>
<body>
    <div class="headerBox">
        <img src="../../static/images/SPHERE INSIGHT.png">
        <nav>
            <ul>
                <li><a href="../home.html">Home</a></li>
                <li><a href="../about.html">About</a></li>
                <li id="destination">Destination
                    <ul class="dropdown">
                        <li><a href="../asia.html">ASIA</li>
                            <li><a href="../america.html">THE AMERICA</a> </li>
                            <li><a href="../europe.html">EUROPE</a></li>
                            <li><a href="africa.html">AFRICA</a> </li>
                    </ul>
                </li>
                <li><a href="workwithme.html">Work with me</a></li>
                <li><a href="">Travel</a>
                    <ul class="dropdown" style="transform: translateX(-25%);">
                        <li><a href="../planning.html">PLANNING</a> </li>
                        <li><a href="../packing.html">PACKING</a> </li>
                        <li><a href="../tips.html">TIPS +ADVICE</a> </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="info">
        <img src="../../static/images/infonadine.webp">
        <h2>Hello</h2>
        <p>I’m Nadine Sykora and I'm one of the top travel vloggers on YouTube who travels the world and shares my experiences and travel expertise through my videos and on Instagram.</p>
    </div>
    <div class="aboutpost">
        <p>SEPTEMBER 4, 2016</p>
        <h2>My Ultimate Luggage Collection</h2><br>
        <p>What to pack for a backpacking hiking camping trip! Tips on backpacks, gear, food, clothes etc.</p>
        <a href="https://www.bing.com/ck/a?!&&p=cdb1968b7b5ce961JmltdHM9MTY4NzM5MjAwMCZpZ3VpZD0zY2ZjY2ZiYS05YmI0LTYxN2EtMDZlMy1kY2IwOWEyZjYwODQmaW5zaWQ9NTQ2NQ&ptn=3&hsh=3&fclid=3cfccfba-9bb4-617a-06e3-dcb09a2f6084&psq=My+Ultimate+Luggage+Collection&u=a1aHR0cHM6Ly93d3cueW91dHViZS5jb20vd2F0Y2g_dj16Wk5QQVpFRDljYw&ntb=1"><img src="../../static/images/packing7.png"></a>
        <br>
        <div style="text-align: center;">
          <p>
            My 7+ years of travel luggage and backpacks, reviews, pros and cons thoughts and opinions.
            <br>
            👜 LARGE LUGGAGE 👜
            Billabong Large Luggage
            Yellow SuitSuit
            Light blue Heys Luggage
            <br>
            👜BACKPACKS 👜
            *Ariel 65 Backpacking Backpack
            *Farpoint 70 Backpack
            <br>
            👜 CARRY-ON 👜
            SuitSuit Blue Carry-on 
            *AWAY Luggage Case
            *BlueSmart Smart Luggage Save $40
            <br>
            This video is NOT sponsored. All thoughts, opinions and words are my own. (*) denotes an affiliate link.
          </p>
        </div>
    </div>
</body>
</html>